h1 Oh, hey. Are you having a bad day?
h2.weight400 It's ok. We can make it better!
h3.weight300.separator How about you tell me what's up?

h1 <a href="/step1" class="go" id="go">Get started &rarr;</a>

#wholeForm