h1 Always remember!
h3.weight400 Even though today you #{@key} #{@value}...

h3.weight400 I think that you shouldn't #{@key} #{@are} <span class="weight700">or</span> #{@value} because...
h1 You are #{@happy} and awesome.

img src="#{@gifs.sample}"

p <a href="/" id="#go">Feel better again.</a>
