<span id="wholeForm">
  <span class="large weight700">Today I...</span>
  <select id="step1">
    <option selected="selected"> pick one</option>
    <option value="feel"> feel</option>
    <option value="thinkNot"> think I am not</option>
    <option value="thinkBad"> think I am bad at</option>
  </select>
</span>